body {
  background-color:aliceblue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  width: 50%;
  margin: 2em auto;
  border: 2px solid rgb(144, 186, 241);
  border-radius: 5px;
  background-color: rgb(232, 241, 250);
  box-shadow: 5px 5px rgba(144, 186, 241, 0.4),
      10px 10px rgba(144, 186, 241, 0.3),
      15px 15px rgba(144, 186, 241, 0.2),
      20px 20px rgba(144, 186, 241, 0.1);
}

h1 {
  padding: 0.3em 1em;
  background-color: rgb(144, 186, 241);
}

ol {
  margin: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color:rgb(97, 5, 131);
}