// Space base reset, fonts, and colors here
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: #e6460e;
$light: #f0f0f0;
$dark-red: #4e1e13;
$blue: #334b5a;
$blue-o: #334b5acb;
$light-blue: #addbed;

body {
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  font-family: "Do Hyeon", sans-serif;
}
