// Space base reset, fonts, and colors here
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: #e6460e;
$light: #f0f0f0;
$dark-red: #4e1e13;
$dark: rgb(35, 34, 37);
$blue: #334b5a;
$blue-o: #334b5ade;
$light-blue: #addbed;
$font: "Do Hyeon", sans-serif;

body {
  font-size: 18px;
  font-family: "Nanum Gothic", sans-serif;
  background: $dark;
  color: $light;
}
.color {
  opacity: 0.8;
}
h1,
h2 {
  font-family: "Do Hyeon", sans-serif;
  color: $red;
}
h3,
h4 {
  font-style: italic;
  padding: 0.5em 0;
  color: $light-blue;
}
h5 {
  font-weight: lighter;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}
