// Space components found here

.arrow,
.nav-arrow {
  position: fixed;
  left: 50%;
  width: 20px;
  height: 20px;
  border-right: 2px solid $light-blue;
  border-bottom: 2px solid $light-blue;
  cursor: pointer;
  z-index: 10;
}
div.arrow {
  transform: rotate(225deg);
  transition: 300ms bottom cubic-bezier(0.77, 0, 0.175, 1);
  bottom: 15px;
}
div.nav-arrow {
  top: 15px;
  transition: 300ms top cubic-bezier(0.77, 0, 0.175, 1);
  transform: rotate(45deg);
}
