// Space layouts here

.fill {
  width: 100%;
}
.zoom-out {
  margin: auto;
  width: 35%;
}
#imgDetails {
  position: fixed;
  bottom: -60em;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  padding: 2.5em;
  background-color: $blue-o;
  border-radius: 25px 25px 0 0;
  border: 0.02em solid $light-blue;
  box-shadow: 0 0 0.5em $light-blue;
  transition: 300ms bottom cubic-bezier(0.77, 0, 0.175, 1);
  &.active {
    bottom: -0.5em;
  }
}
.arrow {
  &.active {
    transform: rotate(45deg);
  }
}
