// Space Mission Navigation here
#spaceNav {
  background-color: $blue-o;
  position: absolute;
  top: -40%;
  padding: 40px 20px;
  width: 100%;
  z-index: 9;
  transition: 300ms top cubic-bezier(0.77, 0, 0.175, 1);
  text-align: center;
  li {
    list-style: none;
    padding: 10px 20px;
    color: $light;
  }
  li:hover {
    background: $light-blue;
    color: $blue;
    cursor: pointer;
  }
  li:active {
    background: $light;
  }
  &.active {
    top: 0px;
  }
}
.nav-arrow {
  &.active {
    transform: rotate(225deg);
  }
}
